[submodule "SPI_Prediction"]
	path = SPI_Prediction
	url = https://github.com/vakharwalad23/ml_spi.git
[submodule "MLops_ETL"]
	path = MLops_ETL
	url = https://github.com/vakharwalad23/mlops_etl.git
[submodule "dvc"]
	path = dvc
	url = https://github.com/vakharwalad23/dvc.git
[submodule "Deep Learning/Churn-Modelling-ANN"]
	path = Deep Learning/Churn-Modelling-ANN
	url = https://github.com/vakharwalad23/Churn-Modelling.git
[submodule "Deep Learning/IMDb-RNN"]
	path = Deep Learning/IMDb-RNN
	url = https://github.com/vakharwalad23/IMDb-RNN
[submodule "Deep Learning/next-word-LSTM_RNN"]
	path = Deep Learning/next-word-LSTM_RNN
	url = https://github.com/vakharwalad23/next-word-LSTM_RNN.git
